<div class="w-75 container py-5">
    
    <div class="card shadow-lg p-4 rounded-4">
        <h2 class="fw-bold mb-4 text-center">
            Proveedores a Eliminar
        </h2>

        @if (allSupplier.length > 0) {
            <!-- Aqui se encuentra el componente de filtro -->
            <app-filtro [allSupplier]="allSupplier" (showSearch)="showResultEvent($event)"></app-filtro>

            <!-- Tabla con todos los articulos -->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered align-middle shadow-sm">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (showRes) {
                            @if (resIsArray) {
                                @for(item of resultSearchArray; track $index){
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.correo }}</td>
                                        <td>{{ item.tel }}</td>
                                        <td><button class="btn btn-danger" (click)="elimProv(item.id)">Eliminar</button></td>
                                    </tr>
                                }
                            } @else {
                                <tr>
                                    <td>{{ resultSearchSolo!.id }}</td>
                                    <td>{{ resultSearchSolo!.nombre }}</td>
                                    <td>{{ resultSearchSolo!.correo }}</td>
                                    <td>{{ resultSearchSolo!.tel }}</td>
                                    <td><button class="btn btn-danger" (click)="elimProv(resultSearchSolo!.id)">Eliminar</button></td>
                                </tr>
                            }
                        } @else {
                            @for (item of allProduct; track $index) {
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.correo }}</td>
                                    <td>{{ item.tel }}</td>
                                    <td><button class="btn btn-danger" (click)="elimProd(item.id)">Eliminar</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        } @else {
            <div class="alert alert-warning mt-3">
                No hay proveedores para mostrar
            </div>
        }

        @if (mensaje !== '') {
        <div class="alert alert-success mt-3 text-center">
            {{ mensaje }}
        </div>
        }
    </div>
</div>