<div class="w-75 container py-5">
    <div class="card shadow-lg p-4 rounded-4">
        @if (loadedPer){
            <h2 class="fw-bold">#{{ perfumeObtenido.id }} - {{ perfumeObtenido.nombre }}</h2>
            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Precio: </strong>{{ perfumeObtenido.precio | currency: '$'}}</p>
                    <p><strong>Cantidad: </strong>{{ perfumeObtenido.cantidad}}</p>
                    <p><strong>Marca: </strong>{{ perfumeObtenido.marca}}</p>
                    <p><strong>Proveedor: </strong>{{ perfumeObtenido.proveedor}}</p>
                    <p><strong>Tipo: </strong>{{ perfumeObtenido.tipo}}</p>
                    <p><strong>Línea: </strong>{{ perfumeObtenido.linea}}</p>
                </div>
                <div class="col-sm-6">
                    <h4>Aroma</h4>
                    <p><strong>Salida: </strong>{{ perfumeObtenido.aroma_salida}}</p>
                    <p><strong>Corazón: </strong>{{ perfumeObtenido.aroma_corazon}}</p>
                    <p><strong>Fondo: </strong>{{ perfumeObtenido.aroma_fondo}}</p>
                </div>
            </div>

            <!-- Botones de modificar y eliminar -->
            <button class="btn btn-warning mb-3" (click)="goModificar()">Modificar</button>
            <button class="btn btn-danger" (click)="elimProd()">Eliminar</button>
        } @else {
            <div class="alert alert-warning mt-3">
                No hay productos para mostrar
            </div>
        }

        @if (showMod) {
            <div class="card shadow-lg p-4 mx-auto mt-3">
            <form [formGroup]="modificarForm" (ngSubmit)="onModify()">
                <!-- Nombre -->
                <div class="mt-3">
                    <label for="mod-1" class="form-label">Nombre</label><br>
                    <input type="text" class="form-control" id="mod-1" formControlName="nombre" >
                </div>
                <!-- Precio -->
                <div class="mt-3">
                    <label for="mod-2" class="form-label">Precio</label><br>
                    <input type="number" class="form-control" id="mod-2" formControlName="precio">
                </div>
                <!-- Cantidad -->
                <div class="mt-3">
                    <label for="mod-3" class="form-label">Cantidad</label><br>
                    <input type="number" class="form-control" id="mod-3" formControlName="cantidad">
                </div>
                <!-- Marca -->
                <div class="mt-3">
                    <label for="mod-4" class="form-label">Marca</label><br>
                    <input type="text" class="form-control" id="mod-4" formControlName="marca">
                </div>
                <!-- Proveedor -->
                <div class="mt-3">
                    <label for="mod-5" class="form-label">Proveedor</label><br>
                    <input type="text" class="form-control" id="mod-5" formControlName="proveedor">
                </div>
                <!-- Tipo -->
                <div class="mt-3">
                    <label for="mod-6" class="form-label">Tipo</label><br>
                    <input type="text" class="form-control" id="mod-6" formControlName="tipo">
                </div>
                <!-- Linea -->
                <div class="mt-3">
                    <label for="mod-7" class="form-label">Linea</label>
                    <input type="text" class="form-control" id="mod-7" formControlName="linea">
                </div>
                <!-- AROMA -->
                <label class="form-label">Aroma</label><br>
                <!-- Salida -->
                <div class="mt-3">
                    <label for="mod-8" class="form-label">Salida</label><br>
                    <input type="text" class="form-control" id="mod-8" formControlName="aroma_salida">
                </div>
                <!-- Corazon -->
                <div class="mt-3">
                    <label for="mod-9" class="form-label">Corazon</label>
                    <input type="text" class="form-control" id="mod-9" formControlName="aroma_corazon">
                </div>
                <!-- Fondo -->
                <div class="mt-3">
                    <label for="mod-10" class="form-label">Fondo</label>
                    <input type="text" class="form-control" id="mod-10" formControlName="aroma_fondo">
                </div>
                <button class="btn btn-warning w-100 mb-3" (click)="selectModProd()">Reestablecer datos antes de modificar producto</button>
                <button class="btn btn-danger w-100" type="submit">Modificar este producto</button>
            </form>
            </div>
        }

    </div>
</div>