.text-purple {
    color: #780d26;
}

.btn-pink {
    background-color: #ffb3b8;
    color: white;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.btn-pink:hover {
    background-color: #c94d5e;
}