<body>
    <div class="container py-5 text-center">
        <div class="card p-4  rounded-4 mx-auto" style="max-width: 900px;">
            <h1 class="fw-bold text-red">
                PERFUMERÍA IGNACIA
            </h1>

            <h3>Bienvenido</h3>
            <p>Elija una opción</p>
            
            <div class="row gap-row-3 mt-3">
                <div class="col-sm-6">
                    <p>Agregar producto:</p>
                    <button type="button" class="btn btn-outline-red" (click)="irAgregar()">
                        Ir a Agregar
                    </button>
                </div>
                <div class="col-sm-6">
                    <p>Ver catalogo:</p>
                    <button type="button" class="btn btn-outline-red" (click)="irObtener()">
                        Mostrar el catalogo
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>