<div class="w-75 container py-5">
    
    <div class="card shadow-lg p-4 rounded-4">
        <h2 class="fw-bold mb-4 text-center">
            Perfumes a Eliminar
        </h2>

        @if (allProduct.length > 0) {
            <!-- Aqui se encuentra el componente de filtro -->
            <app-filtro [allProduct]="allProduct" (showSearch)="showResultEvent($event)"></app-filtro>

            <!-- Tabla con todos los articulos -->
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered align-middle shadow-sm">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Marca</th>
                            <th>Proveedor</th>
                            <th>Tipo</th>
                            <th>Línea</th>
                            <th colspan="3">Aroma</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (showRes) {
                            @if (resIsArray) {
                                @for(item of resultSearchArray; track $index){
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.nombre }}</td>
                                        <td>{{ item.precio | currency: '$' }}</td>
                                        <td>{{ item.cantidad }}</td>
                                        <td>{{ item.marca }}</td>
                                        <td>{{ item.proveedor }}</td>
                                        <td>{{ item.tipo }}</td>
                                        <td>{{ item.linea }}</td>
                                        <td>{{ item.aroma_salida }}</td>
                                        <td>{{ item.aroma_corazon }}</td>
                                        <td>{{ item.aroma_fondo }}</td>
                                        <td><button class="btn btn-danger" (click)="elimProd(item.id)">Eliminar</button></td>
                                    </tr>
                                }
                            } @else {
                                <tr>
                                    <td>{{ resultSearchSolo!.id }}</td>
                                    <td>{{ resultSearchSolo!.nombre }}</td>
                                    <td>{{ resultSearchSolo!.precio | currency: '$' }}</td>
                                    <td>{{ resultSearchSolo!.cantidad }}</td>
                                    <td>{{ resultSearchSolo!.marca }}</td>
                                    <td>{{ resultSearchSolo!.proveedor }}</td>
                                    <td>{{ resultSearchSolo!.tipo }}</td>
                                    <td>{{ resultSearchSolo!.linea }}</td>
                                    <td>{{ resultSearchSolo!.aroma_salida }}</td>
                                    <td>{{ resultSearchSolo!.aroma_corazon }}</td>
                                    <td>{{ resultSearchSolo!.aroma_fondo }}</td>
                                    <td><button class="btn btn-danger" (click)="elimProd(resultSearchSolo!.id)">Eliminar</button></td>
                                </tr>
                            }
                        } @else {
                            @for (item of allProduct; track $index) {
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.nombre }}</td>
                                    <td>{{ item.precio | currency: '$' }}</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>{{ item.marca }}</td>
                                    <td>{{ item.proveedor }}</td>
                                    <td>{{ item.tipo }}</td>
                                    <td>{{ item.linea }}</td>
                                    <td>{{ item.aroma_salida }}</td>
                                    <td>{{ item.aroma_corazon }}</td>
                                    <td>{{ item.aroma_fondo }}</td>
                                    <td><button class="btn btn-danger" (click)="elimProd(item.id)">Eliminar</button></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        } @else {
            <div class="alert alert-warning mt-3">
                No hay productos para mostrar
            </div>
        }

        @if (mensaje !== '') {
        <div class="alert alert-success mt-3 text-center">
            {{ mensaje }}
        </div>
        }
    </div>
</div>